.album-display {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.album-details {

}

.album-details > img {
    width: 200px;
    height: 200px;
    object-fit: contain;
    border-radius: 8px;
    border: 2px black solid;
}

.album-tracks{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto;
    padding: 1vh 1vw;
    column-gap: 8px;
    row-gap: 4px;
}


/* Small Phone 320px - 480px */
@media (320px <= width <= 480px) {




}