
.collab-playlist-form {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    gap: 1vh;
  }

.collab-playlist-form > div {
    font-size: 2rem;
}

.collab-result{
    display: grid;
}

.result-text {
    font-size: 2rem;
    font-weight: bold;
}

.collab-playlist {
    margin: 1vh 0;
    display: grid;
    grid-template-rows: auto 1fr;
    align-items: center;
    row-gap: 2vh;
}

.collab-playlist .collab-result .playlist {
    justify-self: center;
    width: 90%;
    display: grid;
    grid-template-columns: 1fr 3fr;
    justify-items: center;
    align-items: stretch;
    border: #000 solid 4px;
}

.collab-playlist .playlist .delete-btn {
    display: none;
}


/* Small Phone 320px - 480px */
@media (320px <= width <= 480px) {

    .collab-playlist-form {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-items: center;
        align-items: center;
        gap: 1vh;
      }
    
    .collab-playlist-form > div {
        font-size: 2rem;
    }

    
    .result-text {
        font-size: 1.5rem;
        font-weight: bold;
    }
    
    .collab-playlist {
        width: 100%;
        margin: 1vh 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 2vh;
    }

    .collab-result{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .collab-playlist .collab-result .playlist .playlist-details {
        display: flex;
        flex-direction: column;
    }

    .collab-playlist .collab-result .playlist .playlist-tracks {
        display: flex;
        overflow-x: scroll;
        width: 100%;
        padding: 0px;
    }
    
    .collab-playlist .collab-result .playlist {
        display: grid;
        grid-template-columns: 1fr;
        justify-content: center;
        align-items: center;
        border: #000 solid 4px;
    }
    
    
    .collab-playlist .playlist .delete-btn {
        display: none;
    }

}

/* Tablet 481px - 768px */
@media (481px <= width <= 1024px) {
    
    .collab-playlist {
        margin: 1vh 0;
        display: grid;
        grid-template-rows: auto 1fr;
        align-items: center;
        row-gap: 2vh;
    }

    .collab-playlist-form {
        display: flex;
        flex-direction: column;
        justify-items: normal;
        align-items: center;
        gap: 1vh;
    }

    .collab-playlist-form #name-input {
        width: 80%;
    }

    .collab-playlist-form #create-btn {
        width: 40%;
    }

    .collab-playlist-form > div {
        font-size: 2rem;
    }

    .collab-result{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .result-text {
        font-size: 2rem;
        font-weight: bold;
    }


    .collab-playlist .collab-result .playlist {
        width: 94%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr auto;
        justify-items: center;
        align-items: stretch;
        border: #000 solid 4px;
    }

    .collab-playlist .playlist .delete-btn {
        display: none;
    }
}


/* Laptops 1025px - 1600px */
@media (1025px <= width <= 1600px) {

    
}