.fetch {
    width: 70%;
    height: 60%;
    margin: auto;
    text-align: center;
    font-weight: 600;
    font-size: 3.5rem;
  }

.welcome-msg {
    font-weight: 700;
    font-size: 2rem;
    width: 100%;
    margin: auto;
    text-align: center;
  }

  
.user-logged {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
  }


.user-info {
    margin: 0.5vh 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1vw;
  }

.user-info > img {
    border-radius: 10%;
    border: black solid 3px;
    object-fit: cover;
    width: 200px;
    height: 150px;
  }


.account-details {
    min-width: 150px;
    padding: 1vh 1vw;
    height: 100%;
    font-weight: 600;
    color: white;
    background-image: linear-gradient(to right, hsl(144, 20%, 20%), hsl(144, 50%, 20%));
  }

.account-details ul{
    list-style-type: none;
    margin: 0.5vh 0;
    padding: 0;
  }


.options {
    display: flex;
    flex-direction: row;
    margin: 1vh auto;
    justify-content: center;
    align-content: center;
    gap: 1vw;
  }

.option-btn {
    background-color: #000;
    height: 5vh;
    padding: 1vh 5vw;
    font-size: 1.25rem;
    min-width: 200px;
    font-weight: 600;
    color: #000;
    outline: none;
    border: none;
    margin: 2vh 1vw;
    background-image: linear-gradient(to right, hsl(144, 90%, 50%), hsl(144, 90%, 60%));
    background-color: none;
    box-shadow: 1px 1px 0px 4px hsl(144, 90%, 0%);
  }

.option-btn:hover {
    transform: scale(1.05);
  }

.option-btn:active {
    box-shadow: 0px 0px 0px 4px hsl(144, 90%, 0%);
    color: #FFF;
    background-image: linear-gradient(to right, hsl(144, 20%, 30%), hsl(144, 50%, 20%));
   }

.option-btn:disabled {
  background: #3f3f3f;
  color: #FFF;
}

.option-btn:disabled:hover {
  transform: none;
}

/* Home.jsx Playlists CSS */


.playlists-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    padding: 0;
    margin: 0;
    gap: 0;
 }

.section-name {
  font-weight: 700;
  color: #000;
  text-align: left;
  font-size: 2rem;
  width: 80%;
}


.playlists {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    width: 90%;
    padding: 0;
    margin: 0;
    gap: 0;
  }


.playlist {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 3fr;
    justify-items: center;
    align-items: stretch;
    border: #000 solid 4px;
    border-bottom: 0px;
  }

.playlist:last-child {
    border-bottom: #000 solid 4px;;
  }
 
.playlist-details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    gap: 1vh;
    width: 90%;
    border-right: #000 5px solid;
  }

.playlist-details > img {
    margin-top: 0.5vh;
    border-radius: 10%;
    object-fit: contain;
    min-width: 175px;
    max-width: 90%;
    height: auto;
    min-height: 125px;
    max-height: 150px;
  }

.playlist-data {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.playlist-data > p, strong, h3{
  margin: 0;
  padding: 0;
}

.playlist-data > p {
  font-size: 1.1rem;
  text-overflow: ellipsis;
}

.playlist-data > h3 {
  font-size: 1.5rem;
}

.playlist-data > div {
  font-size: 1.3rem;
}

.edit-delete-btns {
  display: flex;
  margin-bottom: 0.25vh;
  gap: 4px;
}

.edit-btn{
  padding: 8px;
  background-color: hsl(144, 80%, 40%);
  color: #000;
  border: #FFF solid 2px;
  border-radius: 8px;
  font-size: 1.25rem;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  min-width: 150px;
}

.edit-btn:hover{
  cursor: pointer;
  background-color: black;
  color: hsl(144, 80%, 40%)
}

.delete-btn{
  border: #FFF solid 2px;
  padding: 8px;
  background-color: hsl(0, 90%, 70%);
  color: #FFF;
  border-radius: 8px;
  font-size: 1.25rem;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  min-width: 150px;
}

.delete-btn:hover{
  cursor: pointer;
  background-color: black;
  color: hsl(0, 100%, 60%)
}

.empty {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  text-align: center;
  
}

.playlist-tracks {
    width: 100%;
    display: flex;
    padding: 0;
    gap: 12px;
    overflow-x: scroll;
  }

.track {
    margin: 1vh 0.5vw 0 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

.track > img {
    width: 150px;
    height: 150px;
  }

.track-name {
  width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.track-name:hover {
  white-space: normal;
  overflow: visible;
}


.artist-name {
    font-weight: 400;
    text-decoration: underline;
}


/* Small Phone 320px - 480px */
@media (320px <= width <= 480px) {
  .fetch {
    font-size: 1.5rem;
  }

.welcome-msg {
    font-size: 1.6rem;
  }

.user-info {
    margin: 0.5vh 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1vw;
  }

.user-info > img {
    border-radius: 10%;
    border: black solid 3px;
    object-fit: cover;
    width: 100px;
    height: 100px;
  }


.account-details {
    font-size: 1.1rem;
    min-width: 100px;
    max-width: 150px;
    padding: 1vh 2vw;
  }

.options {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
  }

.option-btn {
    margin: 1.5vh 1vw;
  }


/* Home.jsx Playlists CSS */
.playlists-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
 }

.section-name {
  font-weight: 700;
  text-align: center;
  font-size: 1.5rem;
}


.playlists {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 94%;
  }

.playlist {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: normal;
    border: #000 solid 4px;
    border-bottom: 6px #FFF solid;
  }

  /* .playlist:nth-child(odd) {
    border-bottom: 12px hsl(32, 90%, 50%) solid;
  } */

  .playlist:last-child {
    border-bottom: 6px black solid;
  }
 
.playlist-details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    gap: 1vh;
    width: 90%;
    border-right: none;
  }

.playlist-details > img {
    margin-top: 0.5vh;
    border-radius: 10%;
    object-fit: contain;
    width: 100px;
    height: 100px;
  }

.playlist-data {
  gap: 4px;
}

.playlist-data > p {
  font-size: 1.2rem;
}

.playlist-data > h3 {
  font-size: 1.2rem;
}

.playlist-data > div {
  font-size: 1.2rem;
}

.edit-delete-btns {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.25vh;
  gap: 4px;
}

.edit-btn{
  padding: 8px;
  background-color: hsl(144, 80%, 40%);
  color: #000;
  border: #FFF solid 2px;
  border-radius: 8px;
  font-size: 1.1rem;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  width: 150px;
}

.delete-btn{
  border: #FFF solid 2px;
  padding: 8px;
  background-color: hsl(0, 90%, 70%);
  color: #FFF;
  border-radius: 8px;
  font-size: 1.1rem;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  width: 150px;
}

.empty {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  text-align: center;
}

.playlist-details::after{
  content: "Tracks";
  text-align: center;
  text-decoration: underline;
  display: block;
  width: 100%;
  font-weight: bold;

}

.playlist-tracks {
    padding: 0 50px 0 50px;
    display: flex;
    flex-direction: row;
    gap: 25px;
    overflow-x: scroll;
  }

  .playlist-tracks::-webkit-scrollbar-track {
    background-color: #555;
    background-color: #1f6a85;
  }

  .playlist-tracks::-webkit-scrollbar-thumb {
    width: 50px;
    background-color: hsl(32, 90%, 50%);
  }

  .playlist-tracks::-webkit-scrollbar {
      height: 24px;
  }

.track {
    width: 100%;
    margin: 1vh 0 2vh 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

.track > img {
    width: 150px;
    height: 150px;
  }

.track-name {
  width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: hsl(32, 90%, 50%);
    border-radius: 16px;
    width: 8px;
  }
  
  ::-webkit-scrollbar {
    width: 8px;
  }

}

/* Tablet, Small Laptop 481px - 768px */
@media (481px <= width <= 1024px) {
  .fetch {
    width: 70%;
    height: 60%;
    margin: auto;
    text-align: center;
    font-weight: 600;
    font-size: 2.5rem;
  }

  /* Home.jsx Playlists CSS */
  .playlists-section {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-items: center;
      padding: 0;
      margin: 0;
      gap: 0;
  }

  .section-name {
    font-weight: 700;
    color: #000;
    text-align: center;
    font-size: 2rem;
    width: 80%;
  }


  .playlists {
      display: flex;
      flex-direction: column;
      justify-items: center;
      align-items: center;
      width: 96%;
      padding: 0;
      margin: 0;
      gap: 16px;
    }


  .playlist {
      width: 100%;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr auto;
      justify-items: center;
      align-items: stretch;
      border: #000 solid 4px;
    }


  .playlist:last-child {
      border-bottom: #000 solid 4px;;
    }
  

  .playlist-details {
      display: grid;
      grid-template-areas: 
      "img details"
      "edit-del-btn edit-del-btn"
      "msg msg";
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr auto auto;
      justify-items: center;
      align-items: center;
      text-align: left;
      gap: 1vh;
      width: 100%;
      border-right: none;
    }

  .playlist-details::after {
    grid-area: msg;
    content: "Tracks:";
    text-align: center;
    width: 50%;
    font-weight: bold;
    font-size: 1.5rem;

  }

  .playlist-details > img {
      grid-area: img;
      margin-top: 0.5vh;
      border-radius: 10%;
      width: 100%;
      height: 150px;
    }

  .playlist-data {
    grid-area: details;
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  .playlist-data > p, strong, h3{
    margin: 0;
    padding: 0;
  }

  .playlist-data > p {
    font-size: 1.1rem;
    text-overflow: ellipsis;
  }

  .playlist-data > h3 {
    font-size: 1.5rem;
  }

  .playlist-data > div {
    font-size: 1.3rem;
  }

  .edit-delete-btns {
    grid-area: edit-del-btn;
    width: 100%;
    padding: 4px;
    display: flex;
    justify-content: space-evenly;
    border-bottom: black 4px solid;
  }

  .edit-btn{
    padding: 8px;
    background-color: hsl(144, 80%, 40%);
    color: #000;
    border: #FFF solid 2px;
    border-radius: 8px;
    font-size: 1.3rem;
    width: 40%;
  }


  .delete-btn{
    border: #FFF solid 2px;
    padding: 8px;
    background-color: hsl(0, 90%, 70%);
    color: #FFF;
    border-radius: 8px;
    font-size: 1.3rem;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    width: 40%;
  }

  .empty {
    padding: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    text-align: center;
  }

  .playlist-tracks {
      padding-bottom: 16px;
      width: 100%;
      display: flex;
      gap: 12px;
      overflow-x: scroll;
    }

    .playlist-tracks::-webkit-scrollbar-track {
      background-color: #1f6a85;
    }
  
    .playlist-tracks::-webkit-scrollbar-thumb {
      background-color: hsl(32, 90%, 50%);
    }
  
    .playlist-tracks::-webkit-scrollbar {
        height: 24px;
    }

}

/* Laptops 1025px - 1600px */
@media (1025px <= width <= 1600px) {

  .playlist-tracks::-webkit-scrollbar-track {
    background-color: #1f6a85;
    border-radius: 16px;
  }

  .playlist-tracks::-webkit-scrollbar-thumb {
    background-color: hsl(32, 90%, 50%);
    border-radius: 16px;
  }

  .playlist-tracks::-webkit-scrollbar {
      height: 24px;
      width: 90%;
  }


  .fetch {
    width: 70%;
    height: 60%;
    font-size: 3rem;
  }


/* Home.jsx Playlists CSS */
.playlists-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
 }

.section-name {
  text-align: center;
  font-size: 2.5rem;
}


.playlists {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    width: 94%;
  }


.playlist {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 2fr;
  }

  .playlist-details {
    width: 100%;
  }

.playlist-tracks {
    width: 96%;
    display: flex;
    padding: 0;
    gap: 12px;
    overflow-x: scroll;
  }

.track {
    margin: 1vh 0.5vw 0 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

.playlist-data {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.playlist-data > p, strong, h3{
  margin: 0;
  padding: 0;
}

.edit-delete-btns {
  display: flex;
  margin-bottom: 0.25vh;
  gap: 4px;
}

.edit-btn{
  padding: 8px;
  background-color: hsl(144, 80%, 40%);
  color: #000;
  border: #FFF solid 2px;
  border-radius: 8px;
  font-size: 1.25rem;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  width: auto;
}

.edit-btn:hover{
  cursor: pointer;
  background-color: black;
  color: hsl(144, 80%, 40%)
}

.delete-btn{
  border-radius: 8px;
  font-size: 1.25rem;
  cursor: pointer;
  width: auto;
}

.delete-btn:hover{
  cursor: pointer;
  background-color: black;
  color: hsl(0, 100%, 60%)
}

}