
/* Playlist.jsx */

.playlist-form-container {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    gap: 0.5vh;
  }

.image-radio-options {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2vw;
  }

.playlist-creation {
    padding: 4px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-items: center;
    gap: 8px;
    border-radius: 4px;
    color: black;

    /* background-image: linear-gradient(to right, hsl(144, 20%, 20%), hsl(144, 50%, 20%)); */
  }

.playlist-setting {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    height: 250px;
  }


#name-input{
    padding: 8px;
    width: 40%;
    background-color: black;
    color: hsl(144, 80%, 40%);
    border-radius: 8px;
    font-size: 1.5rem;
    text-align: center;
  }

#name-input::placeholder {
    color: #ddd;
    text-align: center;
  }

#create-btn{
    padding: 8px;
    width: 20%;
    background-color: hsl(144, 80%, 40%);
    color: #000;
    border-radius: 8px;
    font-size: 1.25rem;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
  }

.playlist-desc {
    margin: 1vh 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    gap: 0.5vh;
    width: 50%;
  }

.playlist-desc > label {
    padding: 0;
    margin: 0;
    font-weight: bold;
    align-self: flex-start;
  }

.playlist-desc > textarea::placeholder {
    color: white;
    font-size: 1.25rem;
  }

.playlist-desc > textarea {
    resize: none;
    border: none;
    outline: none;
  }

#description {
    font-size: 1rem;
    padding: 16px;
    width: 100%;
    background-color: hsl(144, 50%, 20%);
    color: #FFF;
    border: 2px solid black;
    border-radius: 8px;
  }


.playlist-creation > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
  }


.playlist-creation > div > input {
    cursor: pointer;
  }
  

input[type="radio"] {
    appearance: none;
    background-color: #FFF;
    margin: 0;
    width: 25px;
    height: 25px;
    border: hsl(144, 90%, 0%) 2px solid;
    border-radius: 50%;
  }

input[type="radio"]:active {
    appearance: none;
    background-color: #FFF;
    border: hsl(144, 50%, 20%) 2px solid;
    border-radius: 50%;
  }

input[type="radio"]:checked {
    background-color: hsl(144, 80%, 20%);
    border: hsl(144, 80%, 100%) 2px solid;
    border-radius: 50%;
    outline: hsl(144, 90%, 30%) 1px solid;
  }

.option-label {
    font-size: 1.5rem;
    font-weight: 600;
  }

.playlist-img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
  }

.image-label {
    margin: 0;
    padding: 0;
    font-size: 1.5rem;
    font-weight: 700;
  }



input[type="file"] {
    cursor: pointer;
  }


.image-option {
    display: none;
  }



  .upload {
      width: 100%;
      height: 200px;
      object-fit: cover;
      cursor: pointer;
    }

  .upload-btn {
    border: 4px solid #4a738f;
    background-color: #4596cb;
    width: 100%;
    height: 200px;
    object-fit: cover;
    cursor: pointer;
  }
  
.preview {
    font-size: 1.5rem;
    font-weight: bold;
  }

.playlist-view {
    font-size: 1.5rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center; 
  }



  /* Small Phone 320px - 480px */
@media (320px <= width <= 480px) {

  .create-playlist-section h2 {
    padding: 0;
    margin: 1vh 0 1vh;
    font-size: 1.5rem;
  }

  .playlist-form-container {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    gap: 1vh;
  }

  .image-radio-options {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    gap: 0.25vh;
  }

  .playlist-creation {
    padding: 4px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-items: center;
    gap: 4px;
    border-radius: 4px;
    color: black;
  }

  .playlist-setting {
    display: grid;
    grid-template-rows: auto 1fr;
    flex-direction: column;
    justify-items: center;
    align-items: flex-start;
    height: auto;
  }


  #name-input{
    padding: 12px;
    width: 84%;
    background-color: black;
    color: hsl(144, 80%, 40%);
    border-radius: 8px;
    font-size: 1.4rem;
  }

  #create-btn{
    padding: 8px;
    width: 50%;
    background-color: hsl(144, 80%, 40%);
    color: #000;
    border-radius: 8px;
    font-size: 1.25rem;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
  }

  .playlist-desc {
    margin: 1vh 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    gap: 0.5vh;
    width: 80%;
  }

  .playlist-desc > label {
    padding: 0;
    margin: 0;
    font-weight: bold;
    align-self: flex-start;
    font-size: 1rem;
  }

  .playlist-desc > textarea::placeholder {
    color: white;
    font-size: 1rem;
  }

  #description {
    font-size: 1rem;
    padding: 8px;
    width: 100%;
    background-color: hsl(144, 50%, 20%);
    color: #FFF;
    border: 2px solid black;
    border-radius: 8px;
  }

  .option-label {
    font-size: 1.2rem;
    font-weight: 600;
  }

  .playlist-img {
    display: flex;
    flex-direction: column;
    gap: 4px;
    font-size: 1rem;
  }

  .image-label {
    margin: 8px;
    padding: 0;
    font-size: 1.2rem;
    font-weight: 700;
  }


  .image-option {
    display: none;
  }

  input[type='file'] {
    color: transparent;
    font-size: 0;
  }

  .upload-btn {
    width: 100px;
    height: 100px;
    object-fit: contain;
  }

  .upload-btn:hover{
    opacity: 90%;
    cursor: pointer;
  }

  .upload {
    width: 125px;
    height: 125px;
    object-fit: contain;
  }

  .preview {
    font-size: 1.25rem;
    font-weight: bold;
  }

  .playlist-view {
    font-size: 1.25rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center; 
  }

}

/* Tablet 481px - 768px */
@media (481px <= width <= 768px) {

  .image-radio-options {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 8px;
  }

  .playlist-creation {
    padding: 4px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-items: center;
    gap: 8px;
    border-radius: 4px;
  }

  .playlist-setting {
    padding: 4px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: auto;
  }


  #name-input{
    width: 80%;
  }

  #name-input::placeholder {
    color: #ddd;
    text-align: center;
  }

  #create-btn{
    padding: 8px;
    width: 50%;
  }

  .playlist-desc {
    margin: 1vh 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    gap: 0.5vh;
    width: 80%;
  }

  .playlist-desc > label {
    align-self: center;
  }

  .playlist-creation > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
  }


  .option-label {
    font-size: 1.3rem;
    font-weight: 600;
  }

  .playlist-img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .image-label {
    margin: 4px;
    font-size: 1.5rem;
    font-weight: 700;
  }


  input[type="file"] {
    cursor: pointer;
  }


  .image-option {
    display: none;
  }


  .upload {
      width: 150px;
      height: 150px;
      object-fit: cover;
      cursor: auto;
    }


  .preview {
    margin: 4px;
    font-size: 1.5rem;
    font-weight: bold;
  }

  .playlist-view {
    font-size: 1.5rem;
    font-weight: bold;
  }
    
  .upload-btn {
    width: 150px;
    height: 150px;
    object-fit: contain;
  }

}